extends ./layout.jade
block contenido
    div(class='row')
        div(class='col-12')
            h1 SECCIÓN DE BIENVENIDA
            a(href='/login') 
                span(class='btn btn-dark') Iniciar Sesión
            a(href='/signup') 
                span(class='btn btn-dark') Registro