doctype html
html(lang="es")
  head
    title LAYOUTS - JADE
    meta(charset = 'UTF-8')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet")
    //- link(href='https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css', rel='stylesheet')
    link(href='/public/css/app.css', rel='stylesheet')
  body(class='text-center')
    div(class='row')
        div(class='col-12 mb-4')
            nav(class='navbar navbar-expand-lg navbar-light bg-light')
                div(class='collapse navbar-collapse')
                    ul(class='navbar-nav mr-auto')
                        li(class='nav-item') 
                            a(href='/app', class='nav-link') Home
                        li(class='nav-item') 
                            a(href='/app/imagenes', class='nav-link') Mis Imágenes
                    ul(class='navbar-nav')
                        li(class='nav-item') 
                            a(href='/login', class='nav-link') Login
                        li(class='nav-item') 
                            a(href='/signup', class='nav-link') Registro    
    block contenido


    
    