extends ./layout.jade
block contenido
    div(class='row')
        div(class='col')
        div(class='col-3')
            form(action='/users', method='POST' class='form-login')
                img(class='mb-4', src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg', width='72', height='72')
                h1(class='h3') REGISTRO DE USUARIOS
                label(for='email', class='sr-only') Email:
                input(type='text', name='email', placeholder='Email', id='email', class='form-control')
                label(for='usuario', class='sr-only') Email:
                input(type='text', name='username', placeholder='Usuario', id='username', class='form-control mt-2')
                label(for='pass', class='sr-only') Contraseña:
                input(type='password', name='password', placeholder='Contraseña', id='password', class='form-control mt-2')
                label(for='password', class='sr-only') Confirma Contraseña:
                input(type='password', name='password_confirmation', placeholder='Repite Contraseña', id='password', class='form-control mt-2')
                input(type='submit', value='Enviar', class='btn btn-lg btn-primary btn-block mt-2')
        div(class='col')
    