extends ../../layout.jade
block contenido
    div(class='row')
        div(class='col')
        div(class='col-3')
            form(action='/app/imagenes/#{imagen.id}?_method=PUT', method='POST' class='form-login')
                img(class='mb-4', src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg', width='72', height='72')
                h1(class='h3 mb-3') EDITAR IMAGEN
                div(class='form-group')
                    label(for='titulo') Título:
                    input(type='text', name='titulo', placeholder='Título', id='titulo', class='form-control', value='#{imagen.title}')
                div(class='form-group')    
                    label(for='archivo') Imagen:
                    input(type='file', name='archivo', id='archivo', class='form-control mt-2')
                    input(type='submit', value='Modificar', class='btn btn-lg btn-primary btn-block mt-2')
        div(class='col')
