extends ../../layout.jade
block contenido
    h2(class='h2 mb-4') Listado de Imágenes
    div(class='row ml-3 mr-3')
        each imagen in imagenes
            div(class='card col-2 pt-3')
                img(class='card-img-top', src='http://www.ccsa.edu.sv/assets/camaleon_cms/image-not-found-26112ee47503d45cff89e808e1d1a5f7.png')
                div(class='card-body')
                    h5(class='card-title') #{imagen.title}
                    p(class='card-text') #{imagen.id}
                        p
                            a(href='/app/imagenes/#{imagen.id}/edit', class='btn btn-primary btn-sm') Editar
                            form(action='/app/imagenes/#{imagen.id}?_method=DELETE', method='POST')
                                input(type='submit', class='btn btn-danger btn-sm', value='Eliminar', style='width: 100px')
