extends ../../layout.jade
block contenido
    div(class='row')
        div(class='col')
        div(class='col-3')
            form(action='/app/imagenes', method='POST' class='form-login' enctype="multipart/form-data")
                img(class='mb-4', src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg', width='72', height='72')
                h1(class='h3') SUBIDA DE IMÁGENES
                label(for='titulo', class='sr-only') Título:
                input(type='text', name='titulo', placeholder='Título', id='titulo', class='form-control')
                label(for='archivo', class='sr-only') Imagen:
                input(type='file', name='archivo', id='archivo', class='form-control mt-2')
                input(type='submit', value='SUBIR', class='btn btn-lg btn-primary btn-block mt-2')
        div(class='col')
