extends ../../layout.jade
block contenido
    h1 Hola #{imagen.title}
    img(src='C:/Users/cmartindi/Pictures/#{imagen._id}.#{imagen.extension}')
    if (typeof imagen.creator != 'undefined')
        p Subido por: #{imagen.creator.email}
